*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin:0;
}
h1{
    color:white;
}
h2,h3{
    color: #1861D0;
}
.header{
    color:white;
    padding :3px;
    text-align: center;
    background:#373549;
}
.grow{
    padding: 50px;
    font-size: larger;
    padding-bottom: 100px;
}
.subheader{
    text-align: center;
    background-color:#300082;
    padding: 20px 40px;
    color:white;
    margin:0;
}
.navegacion{
    background-color:#300082;
    display: flex;
    justify-content: center;
}
.navegacion a{
    transition: all 0.8s ease;
    color:white;
    font-weight: bold;
    float: left;    
    display: block;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}
.navegacion a:hover {
    background-color:#FF5500;
    color: white;
}
.main{
    background-color:white;
    overflow: hidden    ;
}
.contenido {
    align-items: center;
    margin: 0% 25%;
}
.card{
    margin-bottom: 3%;
    padding: 20px;
    background-color: #cecccc;
}
#p{
    margin-top: 3%;
}
.centrar {
    margin-left: auto;
    margin-right: auto;
}
.contenedorCardID a{
    padding: 15px;
}
.cardID{
    background-color: #cecccc;
    width: 12%;
    margin: 20px;
    margin-bottom: 40px;
}
.cardID p{
    color: #1861D0;
}
.cardID img{
    width: 75%;
}